@media screen and (max-width: 1024px) {
    .menu-backend {
        display: block;
    }
}

.menu-backend {
    width: 100%;
    display: flex;
    justify-content: center
}

.confirm{
    padding: 5px 10px;
    background-color: yellow;
    text-align: center;
}
.accept{
    padding: 5px 10px;
    background-color: green;
    color: white;
    text-align: center
}
.cancel{
    padding: 5px 10px;
    background-color: black;
    color: white;
    text-align: center
}
#table-guarantee tr{
    cursor: pointer;
}

.form-search{
    padding: 20px 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}
#table-guarantee .sorting,#table-guarantee .sorting_asc,#table-guarantee .sorting_desc {
    background : none !important;
}
.first-th{
    padding: 13px !important;
}
.first-th:before{
    content: unset !important;
    margin: auto !important;
    text-align: center !important;
}
