#maincontent{
    min-height: 1000px;
}

.TOA045{
    padding-top: 70px;
}
.card{
    border: 1px solid #dedede;
    border-radius: 10px;
}
.card .card-header{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0 0;

}
.card .card-body{
    padding: 40px;
}
form .form-group label{
    font-weight: 500;
    font-size: 15px;
    color: #000;
}
form .form-group input{
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    outline: none;
}
form .form-group textarea{
    width: 100%;
    height: 135px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    resize: none;
}
form .button_submit{
    font-weight: bold;
    color: #000;
    font-size: 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fdb945;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    position: relative;
    margin: 0px auto;
    margin-top: 40px;
}

.form-register label{
    font-size: 18px !important;
}

form .button_submit_agency{
    font-weight: bold;
    color: white;
    font-size: 15px;
    width: 100%;
    line-height: 50px;
    background: #17a2b8;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    position: relative;
    margin: 0px auto;
    margin-top: 40px;
}

.button_submit_agency:hover{
    background-color: #138496;
}

.form-check-register{
    margin: auto;
    width: 600px;
    margin-top: 20px;
}

.button_submit_register{
    font-weight: bold;
    color: white;
    font-size: 15px;
    width: 100%;
    line-height: 50px;
    background: #17a2b8;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    margin: auto;
}

.button_submit_register:hover{
    background-color: #138496;
}

.contact{
    padding: 20px;
}
.contact hr{
    border-top: 2px solid #1c9c62;
}
.contact h5{
    color: #0A517B;
}
.contact p{
    font-size: 16px;
    color: #cc0757;
}
.contact p span{
    font-weight: bold;
    color: #0A517B;
}
.req{
    color: red !important;
}

.button-search {
    margin-top: 30px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    background: #17a2b8;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 0;
}

.button-search:hover {
    background-color: #138496;
    color: white !important;
}

.search-link{
    color: #ac0303;
}

.search-link:hover{
    color: #43aadb;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.wrap_tc{
    display: block;
    overflow: hidden;
    background: #f5f5f5;
    padding: 30px 40px 60px 40px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.wrap_tc_2{
    display: block;
    overflow: hidden;
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.wrap_tc_3{
    display: block;
    overflow: hidden;
    background: white;
    border: 1px solid #ddd;
    padding: 20px 20px 50px 20px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.group-search{
    background-color: #288ad6 !important;
    border: 1px solid #288ad6 !important;
}

.btn-search{
    background-color: #288ad6 !important;
    color: white;
}

.btn-search:hover{
    color: white;
}

.btn-search:before, .btn-search:after{
    content: unset !important;
}

.policy-link{
    color: #0a6ebd;
}

.select2-selection{
    height: 34px !important;
}
.select2 .select2-selection__rendered{
    line-height: 34px !important;
    font-size: 14px !important;
}

.select2 .select2-selection--single{
    border: 1px solid #ccc;
}

.select2-results__option{
    font-size: 14px !important;
}

.btn-primary{
    padding: 6px 12px !important;
    color: white; !important;
    background-color: #286090 !important;
    border: 1px solid #286090;
}

.btn-danger{
    padding: 6px 12px !important;
    color: white; !important;
    background-color: #ac0303 !important;
    border: 1px solid #ac0303;
}

.btn-primary:after, .btn-primary:before, .btn-danger:after, .btn-danger:before{
    content: unset !important;
}

.btn-primary:hover{
    background-color: #5cb85c !important;
}

@media screen and (max-width: 768px){
    .container .col-md-5{
        margin-bottom: 40px;
    }

    .col-md-12{
        padding: 0 !important;
    }

    #maincontent{
        min-height: 500px;
    }

    .wrap_tc{
        padding: 10px 10px 40px 10px;
        margin-top: 40px;
    }

    .wrap_tc h4{
        font-size: 14px !important;
    }

    .input-group{
        width: 100% !important;
    }

    .input-group .input-group-addon:first-child{
       display: none;
    }

    .group-search button{
        padding: 0 !important;
    }

    .form-check-register{
        width: 100%;
    }
}
