.title{
	color:rgba(195,52,19,1);
	text-align: center;
}
.description{
	font-weight: bold;
	margin-top: 20px;
}
.color{
	margin-top: 50px;
}
.color h4{
	text-shadow: 1px 1px 2px pink;
}
.color p{
	font-size: 15px;
	text-align: left;
}
.color1{
	margin-top: 50px;
}
.color1 h4{
	text-shadow: 1px 1px 2px pink;
}
.color1 .row p{
	text-align: left;
	font-size: 15px;
}
.color2{
	margin-top: 50px;
}
.color2 h4{
	text-shadow: 1px 1px 2px pink;
}
.color2 p{
	margin-top: 10px;
	font-size: 15px;
}
.color3{
	margin-top: 50px;
}
.color3 h4{
	text-shadow: 1px 1px 2px pink;
}
.color3 .row p{
	font-size: 15px;
	text-align: left;
}
.color4{
	margin-top: 50px;
}
.color4 h4{
	text-shadow: 1px 1px 2px pink;
}
.color4 p{
	font-size: 15px;
	text-align: left;
}