.page_title{
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	color: blue;
}
.date_time i{
	color: red;
}
.date_time span{
	font-style: italic;
	font-size: 14px;
}
.description{
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}
.text{

}
.text .text_title{
	font-weight: bold;
	font-size: 18px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.note_title{

}
.note_title a{
	color: blue;
}
.note_title span{
	background-color: #ac0303;
	color: #fff;
	padding: 5px;
}
