.img_item {
    position: relative;
    width: 100%;
}

.item_content {
   height: 12rem;
    position: relative;
    background: rgba(43, 35, 4, 0.7);
    bottom: 12rem;
    padding-bottom: 12px;
    color: #fff;
    overflow-wrap: break-word;
}
.item_content h5{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
.item_content p{
    font-size: 14px;
    overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}
.item_content a{
    font-weight: bold;
    color: #1b1e21;
    font-size: 15px;
    background-color:#f19507;
    padding: 10px;
    border-radius: 10px;
}
.item_content div{
    text-align: right;
}
.item_content:hover {
    background-color: #9fcdff;
    color: #000;
}
