.TOA006 .section-header {
    padding: 10px;
}

#product_same {
    text-align: center;
    width: 50%;
    margin: 0px auto;
    font-size: 18px;
}

@media (max-width: 414px) {
    #product_same{
        width: 100% !important;
    }
}