
.upercase {
    text-transform: uppercase;
}

.submit-notify {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.clear-padding {
    padding: 0
}

.block-1 .item_title {
    min-height: 56px;
}

#header ul.mainmenu > li > a {
    font-size: 16px;
}

body.showMenu #header .menu-mainmenu {
    box-shadow: -1px 1px 5px 3px #a09d9d;
}

.showSearch div.search input {
    background-color: #ac0303;
    width: 250px;
}

.showSearch div.search .btnSearch {
    color: #fff;
}

#header .header-right {
    padding-right: 60px;
}

.slide-center .item {
    opacity: 1;
}

#maincontent .container .max-830 img {
    height: auto;
    max-width: 650px;
}

.block-3 .item_img img {
    max-width: 100%
}

@media (min-width: 1300px) {
    .container {
        width: 1400px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1350px !important;
    }
}

@media (max-width: 768px) {
    .share a:hover {
        box-shadow: none;
    }

    img, #maincontent .container .max-830 img {
        max-width: 100%
    }
    #logo{top: 15px}
    #logo img{height:40px;border: 2px solid white;padding: 2px;}

    .scroll_top {
        display: none;
    }

    .call-button {
        bottom: 20px !important;
    }

    .img_product .item_inner{
        max-width: 500px;
    }

    .img_product img{
        width: 100%;
        max-height: 500px !important;
        height: unset !important;
    }

    .vd-yt .owl-nav{
        display: none !important;
    }

    .policy{
        padding: 10px;
    }

    .policy table{
        width: 100% !important;
    }

    .policy  table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .policy  table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .policy  table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
    }

    .policy table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .policy table td:last-child {
        border-bottom: 0;
    }

    .iframe-pdf{
       display: none;
    }

    .pdf-button{
        display: block !important;
    }

}

@media screen and (max-width: 600px) {
    .table-price-list,
    .table-price-list thead,
    .table-price-list tbody,
    .table-price-list th,
    .table-price-list td,
    .table-price-list tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-price-list > tbody > tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    ;
    }


    .table-price-list > tbody > tr td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .table-price-list > tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 15px;
        left: 14px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 14px;
    }

}

.#014 .block_title, .#017 .block_title {
    font-family: "Roboto" !important;
    font-weight: bold
}

.Logo {
    height: 48px;
    border: 2px solid white;
    padding: 2px;
}

.fixed {
    position: fixed;
    z-index: 99;
}

.call-button {
    right: 50px;
    bottom: 50px;
    height: 60px;
    width: 60px;
    transition: all .5s;
}

.call-button.left {
    right: auto;
    left: 50px;
}

.call-button .text-phone {
    width: 0px;
    height: 60px;
    transition: all .2s;
    overflow: hidden;
}

.call-button .text-phone a {
    padding-left: 15px;
    font-size: 18px;
    line-height: 60px;
    width: 100%;
    color: #edbf05;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #000;
}

.call-button a {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: right;
}

.call-button .fa {
    font-size: 40px;
    line-height: 60px;
/ / -webkit-animation: shake 3.5 s infinite;
}

.call-button:hover {
    width: 300px;
    background-color: #373737;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.call-button:hover .text-phone {
    width: calc(100% - 60px);
}

.call-button:hover .pulse-button {
    -webkit-animation: none;
    border-radius: 0px;
    background: #edbf05;
}

.call-button:hover .fa {
    -webkit-animation: none;
}

.gid-sale {
    position: relative;
    display: inline-block;
    background: orange;
    color: white;
    height: 2.8rem;
    width: 2.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    margin: 0 8px;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
}

.gid-sale:before, .gid-sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}

.gid-sale:after {
    transform: rotate(60deg);
}

@keyframes beat {
    from {
        transform: rotate(-20deg) scale(1);
    }
    to {
        transform: rotate(-20deg) scale(1.1);
    }
}

.pulse-button {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 1.3em;
    font-weight: lighter;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #3cbc8d;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(60, 188, 141, 0.5);
    -webkit-animation: pulse 1.5s infinite;
    transition: all .5s;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotateZ(5deg);
        -moz-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }
    25% {
        -webkit-transform: rotateZ(-5deg);
        -moz-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
    }
    50% {
        -webkit-transform: rotateZ(5deg);
        -moz-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
    }
    75% {
        -webkit-transform: rotateZ(-5deg);
        -moz-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    70% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

.gid-sale-box {
    transition: all .5s;
}

.gid-sale-box p {
    padding: 0 15px;
}

.gid-sale-box:hover {
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
    transform: translateZ(26px);
    z-index: 9;
}

@media screen and (max-width: 480px) {
    .call-button {
        right: 10px;
        bottom: 10px;
    }
}

.list-product-combo {
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.list-product-combo h5 {
    background: #eeeeee;
    padding: 10px 15px;
    margin: 0;
    text-transform: uppercase;
}

.list-product-combo li {
    list-style: none;
    border: solid 1px #eee;
    padding: 10px 15px;
    border-bottom: none;
}

.list-product-combo li:last-child {
    border-bottom: solid 1px #eee
}

.list-product-combo li img {
    margin-right: 10px;
}

.gid-banner a {
    display: block;
    border-right: solid 1px #fff;
}

.hot-container {
    position: absolute;
    width: 100px;
    top: 0px;
}

.icon_left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.customer {
    margin-top: 30px;
    text-align: center;
    background: transparent;
    box-shadow: none;
    border: 0;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, .87);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
}

.note_customer {
    font-style: italic;
    color: #999;
    font-size: 1.6825rem;
    line-height: 1.55em;
    margin-bottom: 15px;
}

.customer_name {

    margin-top: .625rem;
    color: #3c4858;
    text-decoration: none;
    font-weight: 700;
    font-family: Roboto Slab, Times New Roman, serif;
    margin-bottom: .75rem;
    font-size: 2.125rem;;
    line-height: 1.5em;
}

.customer_avt {
    margin-top: 0;
    max-height: 100px;
    max-width: 100px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

.product_info {
    text-align: center;
    font-size: 16px;
}

.item img {
    height: 800px
}

.call-button {
    display: none;
}

.carousel-caption h3 {
    font-size: 40px;
    color: #e32f38;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #dedede;
}

.carousel-caption p {
    font-size: 24px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-weight: bold;
}

.img_product:hover{
    padding: 10px;
}

.img_product .item_inner{
    max-width: 300px !important;
}

.bg_footer {
    padding-left: 0px;
    height: 450px;
}

.bg_full {
    height: 100%;
    width: 100%;
    padding-left: 0px;
    background-repeat: repeat-x;
}

.tite_bg_footer {
    color: #721f1f;
    font-weight: 700;
    font-family: Roboto Slab, Times New Roman, serif;
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    line-height: 1.4em;
}

.bg_input {
    border: 1px solid #721f1f;
    padding-left: 10px;
}

/*footer button*/
.buttonInside{
    position:relative;
    margin-bottom:10px;
}
.input_footer{
    width: 100%;
    border-radius: 4px;
    border:none;outline:none;
   line-height: 40px;
    padding-left: 14px;
}
.button_footer{
    position:absolute;
    right: 0px;
    top: 0px;
    border:none;
    outline:none;
    text-align:center;
    background-color: #6c8296;
    color: #fff;
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
}
@media screen and (max-width: 480px) {
    .custom_item{
        padding-top: 30px !important;
    }
    .call-button {
        display: block;
    }

    .carousel-caption h3 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 16px;
    }

    #myCarousel a {
        display: none;
    }

    .bg_footer {
        height: 300px;
    }

    .bg_full {
        background-image: none !important;
    }

    .tite_bg_footer{
        font-size: 16px !important;
    }
    .bg_input {
        width: 80%;
        margin: 0px auto;
        padding-left: 10px;
    }

    .menu-btn span {
        background-color: #fff !important;
    }

    .menu-btn:after {
        background-color: #fff !important;
    }

    .menu-btn:before {
        background-color: #fff !important;
    }
    .input_footer{
        width: 60%;
    }
    .button_footer{
        right: 20%;
    }
}

.crop-text{
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.carousel-inner img{
    width: 100% !important;
}

.pad-100{
    padding: 100px 0;
}

.price-list .title {
    text-align: center;
}


.price-list .title h3{
    color: #ac0303 !important;
}

.table-price-list tr td{
    text-align: center;
    color: #0A246A;
}

.table-price-list .text-left{
    text-align: left !important;
}

.table-price-list thead{
    background-color: #ac0303;
    text-align: center;
}

.table-price-list thead tr th{
    color: white !important;
}

.table-price-list .table-price-label{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ac0303 !important;
    vertical-align: middle;
}

.table-price-list .table-price-name{
    width: 40%;
}
.msg_error{
    color: red;
}
.policy table{
    border: 1px solid #ddd !important;
}
.policy table thead{
    background-color: aliceblue !important;
}
.policy table thead h3{
    font-size: 20px !important;
}
.policy table tr td, .policy table tr th{
    padding: 10px !important;
}

.menu-mainmenu span{
    font-weight: bold;
}
.color-red{
    color: #a90c0c;
}
.video-yt iframe{
    width: 100%;
}
.iframe-pdf{
    width: 100%;
    min-height: 1000px;
}

.pdf-button {
    display: none;
    padding: 10px 25px;
    background-image: none;
    position: unset !important;
    background-color: #F6DC6B;
    border-color: #F6DC6B;
}

.pdf-button.btn:after, .pdf-button.btn:before {
    display: none;
}
