
.scroll_top {
    position: fixed;
    right: 20px;
    bottom: 100px;
    background-color: Transparent;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    border: 2px solid #dedede;
}

.scroll_top i {
    color: #dedede;
}

.list-video {
    padding: 10px;
    border: 1px solid #ddd;
    max-width: 400px;
}

.list-video .content {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.price-image{
    max-width: 900px;
    min-width: 800px
}



.video-yt div{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .scroll_top {
        bottom: 15px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .price-image{
        max-width: unset;
        min-width: unset;
        width: 100%;
    }
}
