.TOA045{
    padding-top: 70px;
}
.card{
    border: 1px solid #dedede;
    border-radius: 10px;
}
.card .card-header{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0 0;

}
.card .card-body{
    padding: 40px;
}
form .form-group label{
    font-weight: 500;
    font-size: 15px;
    color: #000;
}
form .form-group input{
    width: 100%;
    height: 40px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    margin-bottom: 20px;
}
form .form-group textarea{
    width: 100%;
    height: 135px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    resize: none;
}
form .button_submit{
    font-weight: bold;
    color: #000;
    font-size: 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fdb945;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    position: relative;
    margin: 0px auto;
    margin-top: 40px;
}
.contact{
    padding: 20px;
}
.contact hr{
    border-top: 2px solid #1c9c62;
}
.contact h5{
    color: #0A517B;
}
.contact p{
    font-size: 16px;
    color: #cc0757;
}
.contact p span{
    font-weight: bold;
    color: #0A517B;
}