.fancybox_nesan{
    padding: 10px;
    background-color: #b94a48;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}
.fancybox_nesan:hover{
    background-color: #0b94ea;
    color: #fff;
    border-radius: 10px;
}

.fancybox_atini{
    padding: 10px;
    background-color: #b94a48;
    color: #fff;
    float: right;
    margin-left: 10px;


}
.fancybox_atini:hover{
    background-color: #0b94ea;
    color: #fff;
    border-radius: 10px;
}

.fancybox_mallend{
    padding: 10px;
    background-color: #b94a48;
    color: #fff;
    float: right;
    margin-left: 10px;
}
.fancybox_mallend:hover{
    background-color: #0b94ea;
    color: #fff;
    border-radius: 10px;
}
.hover_product:hover {
    padding: 10px;
}

.item_title{
    text-align: center;
}
.list_info{
    list-style: none;
}
.list_info .description_product{
    font-size: 14px;
    font-weight: bold;
    color: #0A246A;
}
.list_info .price_product{
    font-size: 14px;
    color: #b94a48;
    font-weight: bold;
}
@media (max-width: 480px){
    .fancybox_nesan{
        font-size: 14px;
        padding: 5px;
    }
    .fancybox_atini{
        font-size: 14px;
        margin-left: 0px;
        padding: 5px;
    }
    .fancybox_mallend{
        margin-top: 10px;
        margin-right: 10px;
        font-size: 14px;
        margin-left: 0px;
        padding: 5px;
    }
}
@media (max-width: 320px){
    .fancybox_atini i{
        display: none;
    }
    .fancybox_nesan i{
        display: none;
    }
    .fancybox_mallend i{
       display: none;
    }
}