
@media (min-width: 320px) and (max-width: 767px) {
    .reponsive_table,
    .reponsive_table thead,
    .reponsive_table tbody,
    .reponsive_table th,
    .reponsive_table td,
    .reponsive_table tr {
        display: block;
    }
    .reponsive_table > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .reponsive_table > tbody > tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .reponsive_table > tbody > tr:first-child {
        border-radius: 3px 3px 0 0;
        border-top: none;
    }
    .reponsive_table > tbody > tr:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: none;
    }
    .reponsive_table > tbody > tr td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 50% !important;
        width: 100%;
        overflow: hidden;
    }
    .reponsive_table > tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 15px;
        left: 14px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 14px;
    }
    .reponsive_table > tbody > tr td:first-child {
        text-align: left;
    }
}

.backend-menu li a {
    padding: 15px 15px 15px !important;
}
